[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
requests = "*"
roman = "*"
beautifulsoup4 = "*"
ebooklib = "*"
tqdm = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
